@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .base-wrap {
    @apply relative max-w-screen-sm mx-auto min-h-screen bg-white shadow-inner border border-t-0 border-b-0 border-gray-50;
  }
}

.toolbar-item {
  @apply w-10 h-10 flex items-center justify-center focus:outline-none hover:bg-gray-100 active:bg-gray-200 rounded-md;
}

.toolbar-icon {
  @apply text-gray-400 w-5 h-5;
}


body {
  -ms-overflow-style: none; 
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display : none;
}

input, button, textarea {
  font-family: inherit;
}