@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .base-wrap {
    @apply h-full max-w-screen-sm flex flex-col overflow-hidden mx-auto border shadow;
  }
  .content-wrap {
    @apply flex-1 overflow-scroll none-scrollbar;
  }
}

.toolbar-item {
  @apply w-8 h-8 sm:w-10 sm:h-10 flex items-center justify-center focus:outline-none hover:bg-gray-100 active:bg-gray-200 rounded-md flex-shrink-0;
}

.toolbar-icon {
  @apply text-gray-400 w-4 h-4 sm:w-5 sm:h-5;
}

body {
  -ms-overflow-style: none; 
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display : none;
}

input, button, textarea {
  font-family: inherit;
}

.none-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none;
}

.none-scrollbar::-webkit-scrollbar {
  display : none;
}

.none-dragging {
  -ms-user-select: none; 
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}